* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.informacion {
  text-align: center;
  display: flex;
  width: 100%;
  height: 75vh;
  background-color: rgb(165, 216, 199);
  justify-content: center;
  align-items: center;
}
.lap {
  border: 0;
}
.pregunta {
  display: flex;
  width: 100%;
  height: 25vh;
  background-color: rgb(167, 235, 195);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
button {
  border: 0;
  width: 300px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.8s;
  font-family: cursive;
  font-size: 16pt;
}
.btn3 {
  margin-top: -45px;
  margin-bottom: 20px;
}
.btn1:hover {
  box-shadow: inset 400px 0 0 0 #d30707;
}
.btn2:hover {
  box-shadow: inset 400px 0 0 0 #07d34b;
}
.btn:hover {
  box-shadow: inset 400px 0 0 0 #2607d3;
}
input {
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
  padding-left: 10px;
}
label {
  font-size: 16px;
  margin-top: 15px;
  width: max-content;
}
.formulario {
  display: flex;
  width: 50%;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: cadetblue;
  height: 100vh;
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skils {
  width: 100%;
  height: 100vh;
  background-color: rgb(235, 108, 81);
  padding-left: 30px;
  padding-right: 40px;
  margin-bottom: -50px;
}
.SkillsForm {
  width: 20%;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.cont-btn {
  display: flex;
  justify-content: center;
}
.educacion {
  background-color: #8eee55;
  height: 100vh;
}
.educacion > .cont-btn {
  margin-top: 20px;
}
.Edu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}
.FormEdu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: auto;
  text-align: center;
}
.FormEdu * {
  margin: 10px;
}
.opc {
  text-align: center;
  width: 250px;
  height: 40px;
  cursor: pointer;
  font-family: cursive;
  font-size: 14pt;
  text-decoration: double;
  border: 0;
  border-radius: 8px;
}
.infoEdu > input {
  width: 150px;
}
label > input {
  width: 35px;
  height: 35px;
}
.experiencia {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #8f57da;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expere {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}
.exp {
  width: 80%;
  height: auto;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.exp > div > textarea[type="text"] {
  margin-top: 16px;
}
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3df4f;
}
.aboutmy {
  display: flex;
}
.my {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.my > h1 {
  font-family: cursive;
  margin-bottom: -25px;
}
.fotoperfil {
  width: 100%;
  height: 100vh;
  background-color: #daf7a6;
}
.perfil {
  border-radius: 50%;
  display: inline-block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-color: antiquewhite;
}
.contenedor {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
}
.per input{
  width: 142px;
  border: 0 !important;
}
.perfil img {
  width: 100%;
  height: auto;
  display: block;
}
.per {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}
.registro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f7a6;
}
.datos {
  text-align: justify;
  display: flex;
  width: 50%;
  height: auto;
  align-items: center;
  flex-direction: column;
}
.datos span {
  margin-top: -12px;
  font-family: cursive;
  font-size: 10pt;
  color: #d30707;
}
